#body{
    background-color: #2c2a2a;
}

.zoom{
    overflow: hidden;
    color :#e1e9eb;

}

.zoom img{
    transition: 0.6s;
}

.zoom:hover img{
    transform: scale(1.1, 1.1);
}


.logo{
    margin: 10px;
    width: 85px;
    border-radius: 10px;
    animation-name: a1;  
    animation-duration: 4s; 
}

.div1{
    background-image: url(img/brian-patrick-tagalog-_8hGFBxWD0A-unsplash.jpg);
    background-size: 1920px 1080px;
    animation-name: a1;  
    animation-duration: 2s; 
}

.div1{
    width: 100%;
    height: 800px;
    border-radius: 7px;
}

.text-nho{

    margin: 10px;
    font-size: 20px;
    text-decoration: none;
    color : #e1e9eb;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.text{
    margin: 10px;
    font-size: 45px;
    text-decoration: none;
    color : #e1e9eb;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text:hover{
    color: #F1C40F;
}



.text-big{
    padding-left: 25%;
    margin: 10px;
    font-size: 55px;
    text-decoration: none;
    color : #F1C40F;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text-big:hover{
    color: #F1C40F;
}

.nav1 a:hover{
    color: #F1C40F;
}

.nav1{
    animation-name: a1;  
    animation-duration: 2s; 
}

.text-menu{
    margin: 33px;
    font-size: 13px;
    text-decoration: none;
    color : #e1e9eb;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation-name: a1;  
    animation-duration: 3s; 
}

#header{
    position: fixed;
    width: 100%;
    
   
   
}

.table1{
    padding-top: 8%;
}

.text-hello{
    padding-bottom: 30px;
    padding-left: 120px;
}

.anh1{
    width: 48%;
    border-radius: 5px;
    margin-left: 30%;
    animation-name: a1;  
    animation-duration: 7s; 
}

.td1{
    width: 40%;
    height: 620px;
}


.icon{
    margin: 0px;
    width: 55px;
    border-radius: 6px;
}

.div-icon{
    
    margin-top: 5%;
}

.div-icon ul{
    list-style: none;
}

.div-icon ul li{
    display: inline-block;
}

.div-icon ul li a{
    text-decoration: none;
    font-size: 15px;
    color : #e1e9eb;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation-name: a1;  
    animation-duration: 10s; 
}

.div-icon ul li a:hover{
    color: #F1C40F;
}

.div-icon ul li a img{
    vertical-align: middle;
    margin: 10px;
}

.li1{
    margin-left: 18%;
}

.li2{
    margin-left: 15.5%;
}


.div2{
    background-image: url(img/brian-patrick-tagalog-_8hGFBxWD0A-unsplash.jpg);
    background-size: 1920px 1080px;
    margin-top: 4.5%;
    animation-name: a1;  
    animation-duration: 2s; 
    border-radius: 7px;
    width: 100%;
    height: 800px;
}

.text-big2{
    margin: 10px;
    font-size: 55px;
    text-decoration: none;
    color : #F1C40F;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.conten2{
    padding-top: 10%;
}

.list2{
    padding-top: 5%;
}

.list2 ul li a{
    text-decoration: none;
    font-size: 15px;
    color : #e1e9eb;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation-name: a1;  
    animation-duration: 3s; 
    margin: 40px;
}

.list2 ul li{
    display: inline-block;
   
}

.list2 ul li a img{
    margin: 10px;
    vertical-align: middle;
}

.list2 ul li a:hover{
    color: #F1C40F;
}

.text-nhoo{
    padding-top: 5%;
    margin: 10px;
    font-size: 20px;
    text-decoration: none;
    color : #e1e9eb;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text-nhoo:hover{
    color: #F1C40F;
}

.bt2{
        width: 300PX;
            height: 50px;
            margin-top: 35PX;
            
            border-radius: 5px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color : #e1e9eb;
            background-color: rgb(0, 0, 0);
            font-size: 20px;
            border-style: none;
    
}

.zoom{
    overflow: hidden;

}

.zoom input{
    transition: 0.6s;
}

.zoom:hover input{
    transform: scale(1.1, 1.1);
}

.bt2:hover{
    color:#F1C40F;
}



@keyframes a1{
    0%{
        opacity: 0;
        transform: translate(0,-100px);
    }


    100%{
        opacity: 1;
        transform: translate(0,0);
    }

}

@keyframes a2{
    0%{
        opacity: 0;
        transform: translate(0,+100px);
    }


    100%{
        opacity: 1;
        transform: translate(0,0);
    }

}